* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color: white;
  font-family: 'Poppins', sans-serif;
}

.app {
  overflow-x: hidden;
  max-width: 1180px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

/* Responsive Breakpoints */
@media screen and (max-width: 1180px) {
  .app {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 968px) {
  .app {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .app {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 424px) {
  .app {
    padding: 0 0.8rem;
  }
}